//---------------------------- [ Import CSS ] ------------------------------/

@import 'materialize.css'
@import 'normalize.css'
@import 'plugin.css'
@import 'fuentes.css'
@import 'anim.css'


//---------------------------- [ Import Stylus ] ------------------------------/
@import 'var.styl'
@import 'mixin.styl'
@import 'general.styl'
@import 'secciones.styl'
/*@import 'nib'
vendor-prefixes = webkit moz ms o official
scale = 0 480px 768px 992px 1200px*/
