//---------------------------- [ Colores ] ------------------------------/

azula=#0d225d
amarilloa=#fab616
amarilloa2=#f4a10e
naranjaa=#f54212
blancoa=#ffffff
negroa=#000000
fondotrans=rgba(13,34,93,0.04)

//---------------------------- [ Fuentes ] ------------------------------/

//fuentes de la plantilla
fuente1='Raleway'
fuente2='Raleway-l'
fuente3='Raleway-b'

//fuentes por defaul
roboto1='Roboto Light'
roboto2='Roboto'
roboto3='Roboto Condensed'
